@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --cor-de-fundo: #FFDE00;
    --fundo-cabecalho: #E71D23;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: "Play", sans-serif;
    text-transform: capitalize;
    user-select: none;
}
.cabecalho{
    background-color: var(--fundo-cabecalho);
    border-radius:0 0 20px 20px;
}

.cabecalho nav{
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px 0;
}
.area-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}
.area-logo img{
    max-width: 250px;
}

.area-logo h1{
    font-size: 2.5rem;
    font-weight: 700;
}
.barra-pesquisa {
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

.barra-pesquisa input {
    width: 100%;
    height: 40px;
    padding: 10px 40px 10px 15px; /* Espaço para o ícone à direita */
    border-radius: 15px;
    border: none;
    display: block;
}

.barra-pesquisa::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('/assets/imagens/lupa.png') no-repeat center;
    background-size: contain;
    pointer-events: none; /* Permite clicar através do ícone */
}
.area-pokemon{
    padding: 20px;
}
.pokemons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: auto 30px;
    max-width: 1500px;
    margin: 0 auto;
}
.area-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 85%;
}
li.pokemon{
    box-sizing: border-box;
    border: 2px solid;
    width: 210px;
    min-height: 320px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    border-radius: 15px;
    padding: 10px;
    text-transform: capitalize;
    font-family: cursive;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 4px #00000028;
    cursor: pointer;
    transition: all 0.4s ease;
}
li.pokemon .fundo-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fundo-imagem::before{
    content: "";
    background: url(../imagens/pokeball.svg);
    height: 150px;
    width: 150px;
    position: absolute;
}
.fundo{
    background-color: #000000; 
    border-radius: 50%;
    width: 160px;
    height: 150px;
    position: absolute;
    z-index: 1; 
    opacity: 0.3;
}
li.pokemon img{
    max-width: 100px;
    z-index: 3;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 10px;
}
.informacoes h3{
    border-bottom: 1px solid #00000031;
    font-size: 1.2rem;
}
.informacoes small{
    color: gray;
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.extra-info{
    display: flex;
    text-align: center;
    gap: 10px;
}
.area-tipo{
    border-bottom: 1px solid #00000031;
    display: flex;
}
.seta-abrir{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    border-radius: 30px;
    transition: transform 0.4s ease;
}
.seta-abrir::after{
    content: "→";
    color: white;
    font-size: 1.3rem;
    display: inline-block;
}
.pokemon:hover{
    background-color: #f1f1f1;
}
.pokemon:hover .seta-abrir{
    transform: translateX(10px);
}
/* Área Pokemon Hero */
.pokemon-hero{
    background-color: #000000ea;
    position: absolute;
    width: 100%;
    height: 102vh;    
    z-index: 99;
    display: none;
    justify-content: center;
    align-items: center;
}
.hero{
    min-width: 350px;
    width: 30%;
    height: 80vh;
    background-color: white;
    color: white;
    border-radius: 20px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}
.area-hero{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}
.area-hero::before{
    content: "";
    background: url(../imagens/pokeball.svg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 350px;
    width: 300px;
    position: absolute;
    top: 5px;
    opacity: 0.4;
    right: -120px;
    display: block;
}
.area-hero img{
    max-width: 100%;
    max-height: 350px;
    position: relative;
    left: -65px;
}
.hero-info{
    position: relative;
    top: 10px;
    left:20px;
   color: white;
   z-index: 3;
}


.info .number,
.info .name{
    margin-bottom: 10px;   
    font-weight: bold;
    font-size: 1.3rem;
}
.info .name{
    font-size: 1.4rem;
    
}
.detalhes-hero{
    padding: 20px;
}
.detalhes-hero li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
    
}
.detalhes-hero li a{
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid black;
}
.detalhes-info{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font: 1.5rem;
    margin: 15px 0;
}
.detalhes-info span{
    display: block;
    margin-bottom: 5px;
    color: #000000;
    font-weight: bold;
}
.detalhes-hero p{
    text-align: center;
}
.seta-fechar{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 35px;
    height: 25px;
    border-radius: 30px;
    margin-bottom: 5px;
    transition: transform 0.4s ease;
}
.seta-fechar::after{
    content: "←";
    color: white;
    font-size: 1.3rem;
    display: inline-block;
}
.sub-menu-st{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 15px;
    margin: 10px auto;
}
.sub-menu-st div{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    align-items: center;
    position: relative;
    font-weight: bold;
}
.sub-menu-dt p{
    margin-top: 35px;
    margin-bottom: 35px;
    text-transform: none;
}
.sub-menu-st progress {
    height: 20px;
    width: 250px;
    border: none;
    background: #d4d4d488; 
    border: 1px solid white;
    border-radius: 10px; 
    overflow: hidden; 
}
.progress-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o texto */
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    pointer-events: none; /* Permite clicar na barra */
}
.progress-total{
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.sub-menu-st progress::-webkit-progress-bar {
    background-color: #d4d4d488 !important;
    border-radius: 10px;
}

.sub-menu-st progress::-webkit-progress-value {
    background-color: white !important;
    border-radius: 10px;
}

.sub-menu-st progress::-moz-progress-bar {
    background-color: #d4d4d488 !important;
    border-radius: 10px;
}

@media(width <700px){
    .area-pokemon{
        padding: 15px 0;
    }
    .pokemons{
        margin: 0 10px;
        gap: 7px;
    }
    .pokemon{
        width: 170px !important;
    }
    .barra-pesquisa{
        padding: 0 20px;
    }
    .barra-pesquisa::after {
    right: 30px;
    top: 50%;
    }


    .hero{
        width: 96%;
        height: 90vh;
        padding: 10px 0;
    }
    .detalhes-hero{
        padding-top: 5px;
    }

}
.water{
    border-color: #6890f0 !important;
    background-color: #6890f0;
}
.fire{
    border-color: #f05030 !important;
    background-color: #f05030;
}
.grass{
    border-color: #78c850 !important;
    background-color: #78c850;
}
.electr{
    border-color: #f8d030 !important;
    background-color: #f8d030;
}
.psychc{
    border-color: #f85888 !important;
    background-color: #f85888;
}
.ice{
    border-color: #98d8d8 !important;
    background-color: #98d8d8;
}
.dragon{
    border-color: #7038f8 !important;
    background-color: #7038f8;
}
.dark{
    border-color: #705848 !important;
    background-color: #705848;
}
.normal{
    border-color: #a8a878 !important;
    background-color: #a8a878;
}
.fight{
    border-color: #903028 !important;
    background-color: #903028;
}
.flying{
    border-color: #a890f0 !important;
    background-color: #a890f0;
}
.poison{
    border-color: #a040a0 !important;
    background-color: #a040a0;
}
.ground{
    border-color: #e0c068 !important;
    background-color: #e0c068;
}
.rock{
    border-color: #e0c068 !important;
    background-color: #e0c068;
}
.ghost{
    border-color: #705898 !important;
    background-color: #705898;
}
.steel{
    border-color: #b8b8d0 !important;
    background-color: #b8b8d0;
}
.bug{
    border-color: #a8b820 !important;
    background-color: #a8b820;
}
.fairy{
    border-color: #ec9bac !important;
    background-color: #ec9bac;
}


.no-scroll {
    overflow: hidden !important;

}